/**
 * V Stack
 *
 * Used to layout components vertically similar to VStack from SwiftUI.
 *
 * Set the following custom properties to adjust the stack settings:
 *
 * --vstack-gap: <length-percentage>;
 */

@property --vstack-gap {
  syntax: "<length-percentage>";
  initial-value: 0;
  inherits: false;
}

.vstack {
  display: flex;
  flex-direction: column;
  gap: var(--vstack-gap, 0);
}