/**
 * H Stack
 *
 * Used to layout components horizontally similar to HStack from SwiftUI.
 *
 * Set the following custom properties to adjust the stack settings:
 *
 * --hstack-gap: <length-percentage>;
 */

@property --hstack-gap {
  syntax: "<length-percentage>";
  initial-value: 0;
  inherits: false;
}

.hstack {
  display: flex;
  gap: var(--hstack-gap, 0);
}

.hstack--align-center {
  align-items: center;
}