.hstack {
  /* Reset the custom properties to make the component nestable */
  --hstack-gap: initial;

  display: flex;
  gap: var(--hstack-gap, 0);
}

.hstack--align-center {
  align-items: center;
}